<!-- attribute_value_inline.html -->
{% load i18n static %}

<div class="attribute-groups">
    {% for group in attribute_groups %}
        <div class="attribute-group" data-order="{{ group.order }}">
            <h3>{{ group.name }}</h3>
            <div class="attributes">
                {% for attribute in group.attribute_set.all %}
                    <div class="attribute-row">
                        <label>{{ attribute.name }}</label>
                        <input type="text"
                               name="attribute_{{ attribute.id }}"
                               value="{{ attribute.value }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>